on: push
jobs:
  cicd:
    # https://github.com/internetarchive/cicd
    uses: internetarchive/cicd/.github/workflows/cicd.yml@main
    with:
      NOMAD_VAR_MULTI_CONTAINER: 'true'
      NOMAD_VAR_COUNT: 1
      NOMAD_VAR_COUNT_CANARIES: 0
      NOMAD_VAR_PORTS: '{ 80 = "http", 3306 = "db" }'
      NOMAD_VAR_CHECK_PROTOCOL: 'tcp'
      # first bringup takes awhile, initing site & data & copying into Persistent Volumes, etc.
      NOMAD_VAR_HEALTH_TIMEOUT: '9m'
      NOMAD_VAR_PERSISTENT_VOLUME: '/var/www/html'
      NO_TEST: true
      BASE_DOMAIN: ux-b.archive.org
    secrets:
      NOMAD_SECRETS: '{ "WORDPRESS_DB_PASSWORD"="${{ secrets.PW }}", "MYSQL_PASSWORD"="${{ secrets.PW }}" }'
      NOMAD_TOKEN: ${{ secrets.NOMAD_TOKEN }}
